<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tanishqbhatia.truthordare">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.IntroductionActivity"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".activities.TermsandConditionsActivity"
            android:label="@string/title_activity_terms_and_conditions"
            android:parentActivityName=".activities.IntroductionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tanishqbhatia.truthordare.activities.IntroductionActivity" />
        </activity>
        <activity
            android:name=".activities.IdentificationActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.TermsandConditionsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tanishqbhatia.truthordare.activities.TermsandConditionsActivity" />
        </activity>

        <meta-data
            android:name="com.tanishqbhatia.instagramauthorization.InstagramAppClientId"
            android:value="@string/instagram_client_id" />
        <meta-data
            android:name="com.tanishqbhatia.instagramauthorization.InstagramAppRedirectURL"
            android:value="@string/instagram_callback_url" />

        <activity
            android:name="com.tanishqbhatia.instagram.activities.AuthorizationActivity"
            android:label="@string/title_activity_authorization"
            android:parentActivityName=".activities.IdentificationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tanishqbhatia.truthordare.activities.IdentificationActivity" />
        </activity>
    </application>

</manifest>